/****************************************************************************************************/
/********************************   animation accueil   *********************************************/
/****************************************************************************************************/

:root {
  --offset: 6px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

body > a {
  top: 5px;
}

h2 {
  width: 980px;
  font-size: 100px;
  font-family: Helvetica;
  line-height: 1.06;
  letter-spacing: -0.02em;
  color: #1d1d1f;
  z-index: 2;
}

.mask {
  height: 106px;
  position: relative;
  overflow: hidden;
  margin-top: var(--offset);
  z-index: 2;
}

.mask span {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 100px;
  padding-bottom: var(--offset);
  
  background-size: 100% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
}

.mask span[data-show] {
  transform: translateY(-100%);
  transition: .5s transform ease-in-out;
}

.mask span[data-up] {
  transform: translateY(-200%);
  transition: .5s transform ease-in-out;
}

.mask span:nth-child(1) {
  background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
}

.mask span:nth-child(2) {
  background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
}

.mask span:nth-child(3) {
  background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c);
}

.mask span:nth-child(4) {
  background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
}




/****************************************************************************************************/
/********************************  bulles animées   *************************************************/
/****************************************************************************************************/





body {
	font-family: 'Spectral', serif;
	font-size: clamp(100%, 1rem + 2vw, 2rem);
	margin: 0;
	background: white;
	color: #ffffff;
	min-height: 100vh;
	max-width: 100%;
	overflow-x: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle {
	--c1: #f2c4e2;
	--c2: #d97eb9;
	--size: max(8rem, 13vw);
	--delay: 0s;
	position: absolute;
	top: 0;
	left: 0;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	background: radial-gradient(circle at 20% 70%, var(--c1), var(--c2));
	pointer-events: none;
	animation: var(--animation, drift) 10s var(--delay) linear infinite alternate;
	animation-play-state: var(--playState, paused);
  z-index: 1;
}

/* Circle animations */

.circle:nth-of-type(4) {
	--c1: #a0e3f2;
	--c2: #2fa7c2;
	--animation: drift2;
	--delay: 2s;
	top: 80%;
	left: 25%;
}

.circle:nth-of-type(5) {
	--c1: #a0e3f2;
	--c2: #2fa7c2;
  --delay: 1s;
	top: 5%;
	left: 50%;
}

.circle:nth-of-type(6) {

  --c1: #194aa6;
	--c2: #194aa6;
	--size: max(3rem, 10vw);
	top: 70%;
	left: 80%;
}

@media (prefers-reduced-motion: no-preference) {
	body {
		--playState: running;
	}
}

@keyframes drift {
	50% {
		transform: translate3d(50%, 50%, 0);
	}
	100% {
		transform: translate3d(0, 100%, 0);
	}
}

@keyframes drift2 {
	50% {
		transform: translate3d(-50%, -50%, 0);
	}
	100% {
		transform: translate3d(0, -100%, 0);
	}
}

.licence {
  display: flex;
  position: absolute;
  top: 100%;
}

